<div id="map" class="map"></div>
<div class="m-4">

    <div class="row">
        <canvas class="col-md-6" baseChart [datasets]="barChartData" [labels]="barChartLabels"
            [options]="barChartOptions" [legend]="true" [chartType]="'bar'">
        </canvas>
        <div class="col-md-6 row justify-content-center">
            <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                [legend]="true" [chartType]="'line'">
            </canvas>
            <br>
            <div>
                <label for="vehicleID">Select vehicle ID</label>
                <select class="form-control inline" id="vehicleID" (change)="setVehicle($event)">
                    <option *ngFor="let id of vehicleIDs" [value]="id">{{id}}</option>
                </select>
            </div>
        </div>

    </div>
</div>