<div style="margin-top: 10%" class="container">
    <div class="card shadow o-hidden border-0 my-5">
        <div class="card-body p-md-5">
            <div class="row align-items-center">
                <div class="d-none d-md-block col-md-6 d-flex justify-content-center">
                    <img src="../../../assets/images/register.svg" style="width:100%">
                </div>
                <div class="col-md-6">
                    <div class="p-5">
                        <div class="text-center">
                            <p *ngIf="status" class="alert"
                                [ngClass]="{'alert-success': status.flag == 'success', 'alert-danger': status.flag == 'fail'}">
                                {{status.message}}</p>
                            <h4 class="text-dark mb-4">Register</h4>
                        </div>
                        <form class="user" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
                            <div class="form-group">
                                <input class="form-control form-control-user" type="text" id="username"
                                    placeholder="Enter username" ngModel name="username" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control form-control-user" type="email" id="email"
                                    placeholder="Enter email" ngModel name="email" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control form-control-user" type="password" id="password"
                                    placeholder="Enter password" ngModel name="password" required>
                            </div>
                            <button class="btn btn-primary btn-block" type="submit" [disabled]="loginForm.invalid"
                                style="border-radius:20px;">REGISTER</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>