<div class="container d-flex justify-content-center align-items-center" style="height: 90vh">
    <div class="card shadow m-4 o-hidden border-0 my-5">
        <div class="card-body p-md-5">
            <div class="row align-items-center">
                <div class="d-none d-md-block col-md-6 d-flex justify-content-center">
                    <img src="../../../assets/images/home.svg" style="width:100%">
                </div>
                <div class="col-md-6">
                    <div class="p-md-3">
                        <div class="text-center">
                            <h4 class="text-dark mb-4">Welcome!</h4>
                            <a class="btn btn-primary btn-block text-white" routerLink="/register">REGISTER</a>
                            <a class="btn btn-primary btn-block text-white mt-2" routerLink="/login">LOG IN</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>