<div style="margin-top: 13%" class="container">
    <div class="card shadow o-hidden border-0 my-5">
        <div class="card-body p-0">
            <div class="row">
                <div class="col-md-6">
                    <div class="p-md-5">
                        <div class="text-center">
                            <h4 class="text-dark mb-4">Add A Vehicle</h4>
                        </div>
                        <form class="user" #editFleetForm="ngForm" (ngSubmit)="add(editFleetForm.value)">
                            <div class="form-group">
                                <input class="form-control form-control-user" type="text" id="vehicleID"
                                    placeholder="Enter Vehicle ID" ngModel name="uid" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control form-control-user" type="text" id="bitrate"
                                    placeholder="Enter Bitrate" ngModel name="bitrate" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control form-control-user" type="text" id="gasTankSize"
                                    placeholder="Enter Gas Tank Size" ngModel name="gasTankSize" required>
                            </div>
                            <button class="btn btn-block btn-primary" type="submit" [disabled]="editFleetForm.invalid"
                                style="border-radius:20px;">ADD VEHICLE</button>
                        </form>
                    </div>
                </div>
                <div class="col-md-6 p-md-5">
                    <div class="text-center">
                        <h4 class="text-dark mb-4">Delete A Vehicle</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li *ngFor="let id of vehicleIDs" class="list-group-item text-center"><button
                                class="btn btn-primary" (click)="delete(id)">Delete Vehicle
                                {{id}}</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>